<div class="container">
  <h2 class="mt-5">ジャンル編集画面</h2>
    <div class="mt-5">
      <div class="center-block">
        <%= render 'layouts/errors', obj: @genre %>
          <%= form_with model: @genre, url: admin_genre_path do |f| %>
            <div class="field">
            <%= f.label :ジャンル名, class: "col-2" %>
            <%= f.text_field :name %>
            </div>
              <div class="mt-3">
                <div class="field">
                <%= f.submit '保存', class: 'btn btn-primary' %>
                </div>
              </div>
          <% end %>
      </div>
    </div>
</div>