<div class="container">
  <div class="mt-5">
    <div class="row">

      <div class='col-lg-3'>
        <%= render 'public/machines/search', search: @search %>
          <div class="card mt-3">
            <h6 class="card-header text-center font-weight-bold">ジャンル検索</h6>
              <div class="card-body">
                <% @genres.each do |genre| %>
                  <div class="my-3">
                  <%= link_to genre.name, genre_path(genre.id) %></br>
                  </div>
                <% end %>
              </div>
          </div>
      </div>

      <div class="col-lg-9">
          <div class="d-flex flex-wrap align-items-center">
            <h3 class="text-center font-weight-bold">機械一覧</h3>
          </div>
              <div class="items d-flex flex-wrap align-content-stretch">
                <% @machines.each do |machine| %>
                  <div class="item-box card border-1 w-40 p-5">
                    <%= link_to machine.name, machine_path(machine.id) %></br>
                      <% if current_user.admin == false %>
                        <div class="favorite_buttons_<%= machine.id %>">
                        <%= render "public/favorites/btn", machine: machine %>
                        </div></br>
                      <% end %>
                    コメント件数：<%= machine.machine_comments.count %></br>
                  </div>
                <% end %>
              </div>
      </div>

    </div>
  </div>
    <ul class="pagination justify-content-center">
    <%= paginate @machines, theme: 'bootstrap-5' %>
    </ul>
</div>