<div class="container">
  <h2 class="mt-5">機械詳細画面</h2>
    <div class="mt-5">
      <div class="row">
        <div class="col-lg-5">
        <% if @machine.video.attached? %>
        <%= video_tag url_for(@machine.video), size: "500x300", controls: true, muted: true %>
        <% end %>
        </div>
          <div class="col-lg-7">
            <table class="table table-borderless">
              <tbody>
                <tr><th></th><td></td></tr>
                <tr><th></th><td></td></tr>
                <tr><th>型式</th><td><%= @machine.name %></td></tr>
                <tr><th>説明文</th><td><%= @machine.explanation %></td></tr>
                <tr><th>ジャンル名</th><td><%= @machine.genre.name %></td></tr>
                <% if current_user.admin == false %>
                <tr></tr><th>いいね</th><td class="favorite_buttons_<%= @machine.id %>"><%= render "public/favorites/btn", machine: @machine %></td></tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="comment_error">
      <%= render 'layouts/errors', obj: @comment %>
      </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="comments_area">
            <%= render 'public/machine_comments/comment', machine: @machine %>
            </div>
          </div>
            <div class="col-lg-12">
              <div class="new-comment">
              <%= render 'public/machine_comments/form', machine: @machine, machine_comment: @machine_comment %>
              </div>
            </div>
        </div>
    </div>

</div>