<div class="container">
<h2 class="mt-5">ユーザー商品詳細画面</h2>

<%= render 'layouts/errors', obj: @error_comment %>

<% if @machine.video.attached? %>
<%= video_tag url_for(@machine.video), size: "300x300", controls: true %></br>
<% end %>

型式 : <%= @machine.name %></br>

説明文 : <%= @machine.explanation %></br>

ジャンル : <%= @machine.genre.name %></br>

<div class="favorite_buttons_<%= @machine.id %>">
<%= render "public/favorites/btn", machine: @machine %>
</div>

<!--div class="machine_comments_<%#= @machine_id %>"-->
<div>
<%= render 'public/machine_comments/comment' %>
</div>

<!--div class="machine_fomrs_<%#= @machine.id %>"-->
<div>
<%= render 'public/machine_comments/form' %>
</div>

</div>