<h1>ユーザー編集画面</h1>

<%= form_with model: @user do |f| %>

<%= f.text_field :last_name %></br>

<%= f.text_field :first_name %></br>

<%= f.text_field :email %></br>

<%= f.text_field :tel_number %></br>

<%= f.submit '保存' %>

<% end %>