<div class="container">
  <h2 class="mt-5">詳細画面</h2>
    <div class="mt-4">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-borderless">
            <tbody>
              <tr><th class="col-6">性</th><td><%= @user.last_name %></td></tr>
              <tr><th>名</th><td><%= @user.first_name %></td></tr>
              <tr><th>メール</th><td> <%= @user.email %></td></tr>
              <tr><th>電話番号</th><td><%= @user.tel_number %></td></tr>
            </tbody>
          </table>

            <div>
              <% if @user.user_name!= "guest user" %>
              <%= link_to '編集',edit_user_path(@user), class: 'btn btn-success' %>
                <% if user_signed_in? && @user.id == current_user.id %>
                <%= link_to "退会", unsubscribe_user_path(current_user), class: "btn btn-danger" %>
                <% end %>
              <% end %>
            </div>

              <div class="mt-4">
                <%= link_to "いいね", like_user_path(current_user), class: "btn btn-warning" %>
              </div>
        </div>
      </div>
    </div>
</div>