<div class="container">
  <h2 class="mt-5">編集画面</h2>
    <div class="mt-5">
      <div class="row justify-content-center">
        <%= render 'layouts/errors', obj: @machine %>
          <%= form_with model: @machine, url: admin_machine_path do |f| %>
            <div class="form-group row">
              <div class="col-5">
              <%= f.label :機械動画 %>
              </div>
              <div class="col-3">
              <%= f.file_field :video, accept: "video/*" %>
              </div>
            </div>
                <div class="form-group row">
                  <div class="col-5">
                  <%= f.label :型式名 %>
                  </div>
                  <div class="col-3">
                  <%= f.text_field :name %>
                  </div>
                </div>
                    <div class="form-group row">
                      <div class="col-5">
                      <%= f.label :機械説明文 %>
                      </div>
                      <div class="col-3">
                      <%= f.text_area :explanation %>
                      </div>
                    </div>
                        <div class="form-group row">
                          <div class="col-5">
                          <%= f.label :ジャンル名 %>
                          </div>
                          <div class="col-3">
                          <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "ジャンルを選んでください"%>
                          </div>
                        </div>
                            <div class="mt-3">
                              <div class="field">
                              <%= f.submit '新規保存', class: 'btn btn-primary' %>
                              </div>
                            </div>
          <% end %>
      </div>
    </div>
</div>