<div class="container">
  <h2 class="pt-5">機械一覧画面</h2>
    <div class="offset-10">
      <%= link_to(new_admin_machine_path,style:"font-size:50px; color:block;") do %>
      <i class="fas fa-plus-circle"></i>
      <% end %>
    </div>

  <table  class="table table-striped">
    <thead>
      <tr>
        <th>型式名</th>
        <th>説明文</th>
        <th>ジャンル名</th>
      </tr>
    </thead>
    <tboddy>
      <% @machines.each do |machine| %>
        <tr>
          <td><%= link_to machine.name, admin_machine_path(machine.id), class: "link" %></td>
          <td><%= machine.explanation %></td>
          <td><%= machine.genre.name %></td>
        </tr>
      <% end %>
    </tboddy>
  </table>
  
    <div class="mt-4">  
      <ul class="pagination justify-content-center">
      <%= paginate @machines, theme: 'bootstrap-5' %>
      </ul>
    </div>
    
</div>