<div class="container">
  <h2 class="mt-5">管理者側機械詳細表示</h2>

  <div class="row pt-4">
    <div class="col-3 offset-3">
      <% if @machine.video.attached? %>
      <%= video_tag url_for(@machine.video), size: "300x300", controls: true %>
      <% end %>
    </div>

    <div class="col-5">
      <table class="table table-borderless offset-2">
        <tbody>
          <tr>
            <td><%= @machine.name %></td>
          </tr>

          <tr>
            <td><%= @machine.explanation %></td>
          </tr>

          <tr>
            <td><%= @machine.genre.name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div class="row px-5 mt-4">
      <div class="col-2 offset-7">
        <%= link_to "編集", edit_admin_machine_path(@machine), class: "btn btn-success btn-lg px-5" %>
      </div>
    </div>

      <div>
        <% @machine.machine_comments.each do |machine_comment| %>
          <%= machine_comment.user.last_name %><%= machine_comment.user.first_name %></br>
          <%= machine_comment.created_at.strftime('%Y/%m/%d') %></br>
          <%= machine_comment.comment %>
          <%= link_to "削除", machine_machine_comment_path(machine_comment.machine, machine_comment), method: :delete %></br>
        <% end %>
      </div>
    
</div>