<!DOCTYPE html>
<html>
  <head>
    <title>MachineUseVideo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ac2ec3dad2.js" crossorigin="anonymous"></script>
  </head>

    <body class="text-center">
      <%= render 'layouts/header' %>
        <% if flash[:notice] %>
        	<div class="alert-success text-center pt-3">
          	<span id="notice"><%= flash[:notice] %></span>
        	</div>
        <% elsif flash[:success] %>
        	<div class="alert-success text-center pt-3">
          	<span id="success"><%= flash[:success] %></span>
        	</div>
        <% elsif flash[:alert] %>
        	<div class="alert-danger text-center pt-3">
        	  <span id="alert"><%= flash[:alert] %></span>
        	</div>
        <% end %>

        <div class="bg-image">
          <div class="bg-mask">
            <main>
            <%= yield %>
            </main>
          </div>
        </div>
        <%= render 'layouts/footer' %>
    </body>
</html>
