<!DOCTYPE html>
<html>
  <head>
    <title>MachineUseVideo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ac2ec3dad2.js" crossorigin="anonymous"></script>
  </head>

  <body class="text-center">
    <%= render 'layouts/header' %>
      <% if flash[:notice] %>
      	<div class="alert alert-success text-center">
        	<span id="notice"><%= flash[:notice] %></span>
      	</div>
      <% elsif flash[:success] %>
      	<div class="alert alert-success text-center">
        	<span id="success"><%= flash[:success] %></span>
      	</div>
      <% elsif flash[:alert] %>
      	<div class="alert alert-danger text-center">
      	  <span id="alert"><%= flash[:alert] %></span>
      	</div>
      <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
